<!-- manager.ejs -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EMS Manager Homepage</title> <!-- todo: add name here -->
</head>

<body>
    <h1>Manager Homepage</h1>

    <h2>Welcome, [name]</h2>

    <a href="./create"><h2>Create Employee</h2></a>

    <a href="./update"><h2>Read Employee</h2></a>
    
    <a href="./update"><h2>Update Employee</h2></a>
    
    <a href="./delete"><h2>Delete Employee</h2></a>

    <button>logout</button>
</body>
<script src="/manager.js"></script>

</html>